{{unit "cdmf.unit.lib.codemirror"}}
<div class="wr-input-control">
    <div class="cus-col-100">
        <textarea id="policy-definition-input" placeholder="输入策略"></textarea>
    </div>
    <br class="c-both"/>
</div>
{{#zone "bottomJs"}}
    {{js "js/policy-edit.js"}}
{{/zone}}